<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="springboot.wxcms.mapper.MsgTextMapper">
  <resultMap id="BaseResultMap" type="springboot.wxcms.entity.MsgText">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="base_id" jdbcType="BIGINT" property="baseId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="title" jdbcType="VARCHAR" property="title" />
  </resultMap>

  <select id="getMsgTextByPage" parameterType="springboot.wxcms.entity.MsgText" resultMap="BaseResultMap">
    SELECT b.msg_type ,b.input_code ,t.* FROM msg_text t , msg_base b
    WHERE t.base_id = b.id
    <if test="inputcode != '' and inputcode != null">
      and b.input_code=#{inputcode}
    </if>
    <if test="account != null">
      and account = #{account}
    </if>
    ORDER BY b.create_time DESC
  </select>

  <select id="getMsgTextList" parameterType="springboot.wxcms.entity.MsgText" resultMap="BaseResultMap">
    SELECT b.msg_type ,b.input_code ,t.* FROM msg_text t , msg_base b
    WHERE t.base_id = b.id
    <if test="inputcode != '' and inputcode != null">
      and b.input_code=#{inputcode}
    </if>
    <if test="account != null">
      and account = #{account}
    </if>
    ORDER BY b.create_time DESC
  </select>

  <sql id="Base_Column_List">
    id, create_time, base_id, content, title
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from msg_text
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from msg_text
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="springboot.wxcms.entity.MsgText">
    insert into msg_text (id, create_time, base_id, 
      content, title)
    values (#{id,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{baseId,jdbcType=BIGINT}, 
      #{content,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="springboot.wxcms.entity.MsgText">
    insert into msg_text
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="baseId != null">
        base_id,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="title != null">
        title,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="baseId != null">
        #{baseId,jdbcType=BIGINT},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="springboot.wxcms.entity.MsgText">
    update msg_text
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="baseId != null">
        base_id = #{baseId,jdbcType=BIGINT},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="springboot.wxcms.entity.MsgText">
    update msg_text
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      base_id = #{baseId,jdbcType=BIGINT},
      content = #{content,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>